* {
    font-family: jetbrains mono;
    word-spacing: -2px;
    letter-spacing: -1px;
}

section p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0000;
}

li {
    list-style-type: square;
    margin: 5px;
}

.list-section{
    display: none;
}

#audio{
    border: 1px solid salmon;
    border-radius: 40%;
    padding: 10px;
}